<!-- <form>
    
    <div class="decorate">
    <div class="form-group">
      <label for="exampleInputEmail1" class="fontxt">Email address</label>
      <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Enter email">
      <small id="emailHelp" class="form-text text-muted">We'll never share your email with anyone else.</small>
    </div>
    <div class="form-group">
      <label for="exampleInputPassword1" class="fontxt">Password</label>
      <input type="password" class="form-control" id="exampleInputPassword1" placeholder="Password" >
    </div>
    <div class="form-group form-check">
      <input type="checkbox" class="form-check-input" id="exampleCheck1">
      <label class="form-check-label" for="exampleCheck1">Check me out</label>
    </div>
    <button type="submit" class="btn btn-primary">Submit</button><br>
    <div class="txtalign">
    <small id="emailHelp" class="form-text text-muted">Don't have an account?<span class="signup">Sign up</span></small>
    </div>
    </div>
    
  </form> -->
  <form>
    <div class="decorate">
      <h2 style="margin-bottom:10px;margin-left:160px;">Registration Form</h2>
    <div class="form-group">
        <label for="firstname1" class="fontxt">Firstname</label>
        <input type="email" class="form-control" id="firstname1" aria-describedby="emailHelp" placeholder="firstname">
        <label for="lastname1" class="fontxt"class="space">Lastname</label>
        <input type="email" class="form-control" id="lastname1" aria-describedby="emailHelp" placeholder="lastname">
      </div>
      <div class="form-group">
        <label for="exampleInputEmail1" class="fontxt">Email address</label>
        <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Enter email">
      </div>
      <div class="form-group">
        <label for="Password1" class="fontxt">Password</label>
        <input type="password" class="form-control" id="Password1" placeholder="Password" >
        <label for="cPassword1" class="fontxt" class="space">Confirm Password</label>
        <input type="password" class="form-control" id="cPassword1" placeholder="ConfirmPassword" >
      </div>
      <button type="submit" class="btn btn-primary">Register</button><br>
    </div>
    </form>

